.Groups {
  margin-top: 25px;
}

.Group {
  margin: 10px auto;
	width: 60%;
  line-height: 40px;
  border: 1px solid #c9d3dd;
  border-radius: 10px;
  text-align: center;
  background: rgb(255, 245, 188);
}

.Group:hover {
  background: rgb(243, 213, 43);
}

