.GroupList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 60%;
  border: 10px solid yellow;
  box-sizing: border-box;
}

.GroupEntry {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 90%;
  height: 10%;
  overflow: auto;
  border: 1px solid #c9d3dd;
  border-radius: 10px;
  background: rgb(255, 245, 188);
}

.GroupEntry:hover {
  background: rgb(243, 213, 43);
}
