.Groups {
  margin: 4% auto;
  overflow: auto;
  width: 75%;
  height: 400px;
  background-color: rgb(255, 255, 247);
  border: 1px solid #8e8e93;
  border-radius: 10px;
}

.Title {
  text-align: center;
  font-size: 25px;
  font-weight: lighter;
}

.Button {
  height: 25px;
  border: 1px solid #8e8e93;
  border-radius: 10%;
  color: white
}

.AddGroupButton {
  float: left;
  margin-left: 5%;
  background-color: #2196f3;
}

.DeleteGroupButton {
  float: right;
  margin-right: 5%;
  background-color: #ff5852;
}
